<%= form_with model: discussion, class: "contents" do |form| %>
  <div class="my-5">
    <%= form.label :book %>
    <%= form.text_field :book, required: true, maxlength: 100, class: "invalid:outline-red-500" %>
  </div>

  <div class="my-5">
    <%= form.label :author %>
    <%= form.text_field :author, required: true, maxlength: 70, class: "invalid:border-red-500" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, required: true, maxlength: 300, class: "invalid:outline-red-500" %> <!-- please fix the client side validation -->
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
